@layer WWPBaseObjects.WorkWithPlusBaseDS{
:root
{
	--colors_headerforecolor : #FFF;
	--colors_pdf : #ea4c3a;
	--colors_excelcolor : #08743b;
	--colors_danger : #f56a67;
	--colors_danger_condform : #dd4b39;
	--colors_danger_condform_row_background : #f2dede;
	--colors_danger_condform_action : #e5cccc;
	--colors_danger_condform_action_hover : rgba(245,106,103,0.5);
	--colors_warning : #f39c12;
	--colors_warning_condform : #fb6e52;
	--colors_warning_condform_row_background : #faf2cc;
	--colors_warning_condform_action : #fed6be;
	--colors_warning_condform_action_hover : rgba(251,110,82,0.5);
	--colors_success_condform : #00a65a;
	--colors_success_condform_row_background : #dff0d8;
	--colors_success_condform_action : #b9ccb7;
	--colors_success_condform_action_hover : rgba(0,166,90,0.5);
	--colors_info_condform : #3c8dbc;
	--colors_info_condform_row_background : #e0f1ff;
	--colors_info_condform_action : #bcdcf5;
	--colors_info_condform_action_hover : rgba(60,141,188,0.5);
	--colors_infolight : #00c0ef;
	--fonts_primary-regular : muli,sans-serif;
	--fontsizes_font-icon-xxs : 10px;
	--fontsizes_font-icon-xs : 12px;
	--fontsizes_font-icon-s : 16px;
	--fontsizes_font-icon-m : 19px;
	--fontsizes_font-icon-l : 24px;
	--fontsizes_font-icon-xl : 36px;
	--borders_xs : 1px;
	--borders_s : 2px;
	--borders_m : 3px;
	--radius_s : 2px;
	--radius_m : 4px;
	--radius_l : 6px;

}

[gx-data-base-color="Custom"]
{
	--colors_basecolor : #611232;
	--colors_basecolorforecolor : #611232;
	--colors_actionborder_and_focuscolor : #611232;
	--colors_actionhover : #783550;
	--colors_actionhoverborder : #783550;
	--colors_basecolorshadow : #783550C2;
	--colors_basecolorshadowcopy : #424242;
	--colors_baseforecolor80 : rgba(255,255,255,0.8);
	--colors_basecolor30 : #42424224;
	--colors_basecolor20 : #42424224;
	--colors_basecolor10 : #424242;
	--colors_baseforecolor : white;

}

[gx-data-background-color="Light"]
{
	--colors_gray01 : #fbfbfb;
	--colors_gray02 : #f7f7f7;
	--colors_gray03 : #f5f4f4;
	--colors_gray04 : #eee;
	--colors_gray05 : #d9d9d9;
	--colors_gray06 : #c8c8c8;
	--colors_gray07 : #8c8d8e;
	--colors_gray08 : #575b5d;
	--colors_gxqv-color-01 : #182f53;
	--colors_gxqv-color-02 : #a7e9e1;
	--colors_gxqv-color-03 : #f57a4d;
	--colors_gxqv-color-04 : #fbbc58;
	--colors_gxqv-color-05 : #9c3725;
	--colors_gxqv-color-06 : #2ed3c6;
	--colors_gxqv-color-07 : #aa6890;
	--colors_gxqv-color-08 : #c53b3d;
	--colors_gxqv-color-09 : #8d89a3;
	--colors_gxqv-color-10 : #095d6a;
	--colors_backgroundcolor : #EEE;
	--colors_databackgroundcolor : #fff;
	--colors_gridforecolor : #000;
	--colors_gridactioniconcolor : #fff;

}

[gx-data-menu-color="Light"]
{
	--colors_sidebarmenu_backgroundcolor : #F7F7F7;
	--colors_sidebarmenu_itemhoverforecolor : #000;
	--colors_sidebarmenu_itemopenbackground : #F4F4F5;
	--colors_sidebarmenu_itemforecolor : #444;
	--colors_sidebarmenu_selecteditemforecolor : #000;
	--colors_sidebarmenu_submenuitemforecolor : #808080;
	--colors_sidebarmenu_submenuitemhoverforecolor : #000;
	--colors_sidebarmenu_selecteditembackground : #F5F5F5;
	--colors_sidebarmenu_submenuselecteditembackground : #F5F5F5;
	--colors_sidebarmenu_submenuselecteditemforecolor : #000;
	--colors_sidebarmenu_lineseparator : #F3F3F3;
	--colors_sidebarmenu_itemhoverbackground : #F4F4F5;
	--colors_sidebarmenu_linesubmenuitemcolor : #E2E2E2;
	--colors_sidebarmenu_circlesubmenuitemcolor : #E2E2E2;
	--colors_sidebarmenu_circlesubmenuitembackground : #E2E2E2;
	--colors_sidebarmenu_circelsubmenuitemactivecolor : #E2E2E2;
	--colors_sidebarmenu_bordersecondlevelsubmenu : #EEE;
	--colors_sidebarmenu_submenuitembackground : #FBFBFB;
	--colors_sidebarmenu_scrollbackground : #F7F7F7;
	--colors_sidebarmenu_headerbackground : Transparent;
	--colors_sidebarmenu_searchbackground : white;
	--colors_sidebarmenu_searchbordercolor : #DDD;
	--colors_sidebarmenu_searchfocusbackground : #FFF;
	--colors_sidebarmenu_subtitlebackground : #FBFBFB;
	--colors_sidebarmenu_subtitleforecolor : #848484;

}

[gx-data-font-size="Small"]
{
	--fontsizes_xs : 9.9px;
	--fontsizes_s : 12.6px;
	--fontsizes_m : 16.2px;
	--fontsizes_l : 19.8px;
	--fontsizes_xl : 25.2px;
	--fontsizes_xxl : 31.6px;

}

[gx-data-font-size="Medium"]
{
	--fontsizes_xs : 11px;
	--fontsizes_s : 14px;
	--fontsizes_m : 18px;
	--fontsizes_l : 22px;
	--fontsizes_xl : 28px;
	--fontsizes_xxl : 34px;

}

[gx-data-font-size="Large"]
{
	--fontsizes_xs : 12.1px;
	--fontsizes_s : 15.4px;
	--fontsizes_m : 19.8px;
	--fontsizes_l : 24.2px;
	--fontsizes_xl : 30.8px;
	--fontsizes_xxl : 37.4px;

}
}